{% extends "blog/base.html" %}
{% block content %}
    <h3>{{ post.title }}</h3>
    <p> {{ post.body }}</p>
     Date  Created : {{ post.created }}<br />
     Last Updated  : {{ post.updated }}

     <h3>All Comments</h3>
    
     {% for c in comments %}
	<div>
         {{ c.author }}
	 <p>{{ c.body }}</p>
     	Date Created : {{ c.created }}<br />
     	Last Updated : {{ c.updated }}<br />
	</div>
	<a href="/hunter/posts/edit_comment/{{ c.id}}/edit">
		Edit comment</a>
	<p></p><hr />	
     {% endfor %}
     <h3>New comment:</h3>
     <div>
	<form method ='post' action="">
             {{form.as_p}}
	     <input type='submit' name='submit'>
	</form>
        </div>
	
	
{% endblock %}
